.loginContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0;
    height: 50%;
    width: 100%;
    padding: 8px;
    border: 1px solid #dbdbdb;
    position: relative;
}
.formContainer {
    padding: 40px 20px 40px 20px;
    border: 1.5px solid #dbdbdb;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    flex: 1;
    padding: 0 10px;
}
.logo {
    width: 50%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.message {
    display: block;

}

input {
    border: 1px solid #9455e0;
    border-radius: 3px;
}

.submit {
    height: 100%;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: slategray;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .loginContainer {width: 80%;}
}
