html {
    height: 100%;
}

body {
    min-height: 100%;
}

#root {
    height: 100%;
}

.App-dark {
    background-color: rgb(56, 53, 53);
    flex: 1;
    color: white;
    display: block;
}

.App-light {
    background-color: rgb(255, 255, 255);
    flex: 1;
    color: black;
    display: block;
}
