.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 20px;
}

.shiftUp {
    transform: translate(0, -50px);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 650px;
    min-width: 280px;
    width: 100%;
}

.ui.search > .results {
    overflow-y: auto;
    max-height: 550px;
}
