.checkoutContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: slategray;
}

.itemContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.buttonGroupContainer {
    display: flex;
    justify-content: space-around;
}

.smallInputContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 2;
    justify-content: space-evenly;
}

.cardFormButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardContainer {
    padding: .67857143em 1em;
    border-color: rgba(34,36,38,.15);
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
}

.cardContainer:active {
    border-color: #cce2ff;
}
